/* navbar */
* {
  box-sizing: border-box;
}
.navbar {
  background-color: #fff;
  height: 80px;
}

.navbar ul {
  display: flex;
  
}

.navbar a {
  color: #003049;
  padding: 15px;
  margin: 0 10px;
}
.navbar  {
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  padding: 0;

}

.logo {
  float: left;
  color: #003049;
 
}


/* blog */
.topics  {
  padding-bottom: 100px;
  padding-top: 90px;
  background-color:whitesmoke;
}
.title  {
    font-size: 60px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 10px;
    text-align: center;
}
.intro {
  font-size: 22px;
  margin-bottom: 0;
  text-align: center;
}

.boxes {
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}
.box {
  background: var(--primary);
  text-align: center;
  padding: 1.5rem 2rem;
  box-shadow: var(--shadow);
  background-color: #fff;
}

i {
  background-color: seagreen;
  position: absolute;
}

a {
  color:white;
}

.link {
  color:#333
}
  
.button {
  
  background-color: black;
  padding: 0.6rem 1.3rem;
  text-decoration: none;
  border: 0;
  
}
.button:hover {
  background: red;
}

.intro {
  padding-bottom: 20px;
}


.entry-header {
  text-align: center;
}

/* CSS CONTENT */

.entry-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;
}

.introduction {
  padding-bottom: 20px;
  margin: 50px;
}

.margin {
  padding-bottom: 20px;
  margin: 50px;
}

.padding {
  padding-bottom: 20px;
  margin: 50px;
}

.border {
  padding-bottom: 20px;
  margin: 50px;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 


p {
  text-align: center;
  background-color: white;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

}
h3 {
  text-align: center;
  
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.introduction {
  background-color: white;
}


.card {
  background-color: whitesmoke;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top:100px;
  padding-bottom: 80px;
  margin: 10px;
  text-align: center;
  margin: 18px 10px 40px;
  max-width:fit-content;

}

h3 {
  background-color: whitesmoke;

}




footer {
  display: block;
  position: relative;
  text-align: center;
}

.identity {
  text-align: left;
  background-color: whitesmoke;
  padding-left: 50px;
  padding-right: 50px;
}
